* {
    margin: 0;
    padding: 0;
} 

body {
    background: #5A5A5A;
    font-family: Arial, Helvetica, sans-serif;
}

#logo {
    font-size: 60pt;
}

#gallery {
    color: white;
    width: 18vw;
    height: 100vh;
    padding: 2%;

    position: absolute;
    overflow: scroll;
}

#canvas {
    width: 52vw;
    height: 100vh;

    position: fixed;
    left: 22vw;

    background-color: white;
    z-index: 100;

    font-size: 100pt;
    text-align: center;
}

#elements-panel {
    
    color: white;
    width: 26vw;
    height: 100vh;
    padding-top: 2%;
    padding-bottom: 2%;

    position: absolute;
    right: 0;

    display: grid;
    flex-wrap: nowrap;
    justify-items: center;
}



.button {
    /* position: absolute; */
    width: 250px;
    height: 40px;

    background: radial-gradient(118.25% 118.25% at 50% 50%, #F48117 0%, #FB2D08 65.62%, #FF0000 100%);
    border: 0.5px solid #7D0000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 41px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #FFFFFF;
}

#save-button {
    display: none;
}

#color-scheme {
    width: 100%;
    height: 350px;
 
}

.color-block {
    position: relative;
    width: 100%;
    height: 70px;

    left: 0;
    z-index: 100;
}

.characters, #characters {
    letter-spacing: 6pt;
}

#characters, #typeface, #artist, #date {
    height: 20px;
    width: 100%;
    
    font-family: Helvetica;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}


#typeface {
    /* background-color: mediumblue; */
    
}

#artist {
    display: none;
}

input {
    font-family: cursive;
    text-align: center;
    width: 60%;
    
    padding: 5px 10px;
    margin: 8px 0;
    margin: .8rem 0;
    position: relative;
    bottom: 20px;
}

#date {
    
}

#char1, #char2, #char3, #char4, #char5, #char6, #char7 {
    display : inline;
    position: absolute;
    width: auto;
}

#char1, #char2 {
    font-size: 500pt;
}

#char3, #char4, #char5 {
    font-size: 250pt;
}

#char5, #char6 {
    font-size: 175pt;
}

#char1 {
    left: 0;
    top: 0;
}

#char2 {
    left: 200px;
    top: 10px;
}

#char3 {
    left: 300px;
    top: -40px;
}

#char4 {
    left: 400px;
    top: 40px;
}

#char5 {
    left: 450px;
    top: 350px;
}

#char6 {
    left: 350px;
    top: 260px;
}

#char7 {
    left: 400px;
    top: 310px;
}

.gallery-items {
    line-height: 25pt;
    text-align: center;
}

.gallery-items:hover {
    color: red;
}