* {
    margin: 0;
    padding: 0;
} 

body {
    background: #5A5A5A;
    font-family: Arial, Helvetica, sans-serif;
}

#left-side, #elements-panel {
    background: #5A5A5A;
    z-index: 500;
}

#left-side {
    width: 18vw;
    height: 100vh;
    padding: 2%;
    color: white;
    text-align: center;

    position: fixed;
}

#logo {
    font-family: 'Source Code Pro', Helvetica, sans-serif;
    letter-spacing: 0pt;
    font-size: 60pt;
}

#gallery {
    position: fixed;
    overflow: auto;

    display: flex;
    flex-direction: column-reverse;

    height: 70vh;
    width: inherit;

    border: 1px solid white;
    -moz-box-shadow:    inset 0 0 10px #ffffff;
    -webkit-box-shadow: inset 0 0 10px #ffffff;
    box-shadow:         inset 0 0 10px #ffffff;
}

#canvas {
    width: 52vw;
    height: 100vh;

    position: fixed;
    left: 22vw;

    background-color: white;
    z-index: 200;
}

#elements-panel {
    
    color: white;
    width: 26vw;
    height: 100vh;
    padding-top: 2%;
    padding-bottom: 2%;

    position: fixed;
    right: 0;

    display: grid;
    flex-wrap: nowrap;
    
}



.button {
    /* position: absolute; */
    width: 250px;
    height: 40px;
    justify-self: center;

    background: radial-gradient(118.25% 118.25% at 50% 50%, #F48117 0%, #FB2D08 65.62%, #FF0000 100%);
    border: 0.5px solid #7D0000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 41px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #FFFFFF;
}

.button:hover {background-color: #7D0000}

.button:active {
  background-color: #7D0000;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#save-button {
    display: none;
    margin: auto;
}

#color-scheme {
    width: 100%;
    height: 350px;
 
}

.color-block {
    position: relative;
    width: 100%;
    height: 70px;

    left: 0;
    z-index: 100;
}

.characters, #characters {
    letter-spacing: 8pt;
}

.characters, #characters, #typeface, #artist, #date {
    height: 20px;
    
    font-family: Helvetica;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}


#typeface {
    /* background-color: mediumblue; */
    
}

#artist {
    display: none;
    margin: auto;
}

input {
    font-family: cursive;
    text-align: center;
    width: 60%;
    
    padding: 5px 10px;
    margin: 8px 0;
    margin: .8rem 0;
    position: relative;
    bottom: 20px;
}

#date {
    
}

#char1, #char2, #char3, #char4, #char5, #char6, #char7 {
    display : inline;
    position: absolute;
    width: auto;
}

#char1, #char2 {
    font-size: 600pt;
}

#char3, #char4, #char5 {
    font-size: 350pt;
}

#char5, #char6, #char7 {
    font-size: 275pt;
}

#char1 {
    left: -80px;
    top: -100px;
}

#char2 {
    left: 100px;
    top: 0px;
}

#char3 {
    left: 300px;
    top: -250px;
}

#char4 {
    right: 0px;
    top: 40px;
}

#char5 {
    left: 150px;
    top: 350px;
}

#char6 {
    left: 350px;
    top: 60px;
}

#char7 {
    left: 400px;
    top: 310px;
}

.gallery-items {
    line-height: 25pt;
    text-align: center;
}

.gallery-items:hover {
    color: #F48117;
}

#artist-signature {
    height: 30px;
    text-align: center;
}